server:
  port: 8083

spring:
  application:
    name: 'service-internal-api'

  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

logging:
  level:
    io.devfactory: debug

decorator:
  datasource:
    p6spy:
      enable-logging: true
